{% extends "../layout.html" %}

{% block body %}
<form acion="" method="post">
	{% if ad %}
	<input type="hidden" name="id" value="{{ ad['_id'] }}" />
	{% end %}
	<table>
		<tr>
			<td>Name:</td>
			<td><input type="text" name="name" value="{{ ad.get('name', '') }}" />{{ '<a href="#" id="export-link">Export default tag</a>' if ad.get('_id', None) else '' }}</td>
		</tr>
		<tr>
			<td>Size:</td>
			<td>
				<select name="size" id="size">
					<option {{ 'selected="selected"' if ad.get('size', None) == '300x250' else '' }} value="300x250">300x250</option>
					<option {{ 'selected="selected"' if ad.get('size', None) == '160x600' else '' }} value="160x600">160x600</option>
					<option {{ 'selected="selected"' if ad.get('size', None) == '468x60' else '' }} value="468x60">468x60</option>
					<option {{ 'selected="selected"' if ad.get('size', None) == '125x125' else '' }} value="125x125">125x125</option>
					<option {{ 'selected="selected"' if ad.get('size', None) == '728x90' else '' }} value="728x90">728x90</option>
				</select>
		</tr>
		<tr>
			<td>Price:</td>
			<td><input type="text" name="price" value="{{ ad.get('price', 0) }}" /></td>
		</tr>
		<tr>
			<td>Active:</td>
			<td><input type="checkbox" name="state" value="active" value="active" {{ 'checked="checked"' if ad.get('state', None) == 'active' else '' }} /></td>
		</tr>
		<tr>
			<td>Daily user frequency:</td>
			<td><input type="text" name="frequency" value="{{ ad.get('frequency', 0) }}" /></td>
		</tr>
		<tr>
			<td>HTML ad tag:</td>
			<td>
				<textarea name="tag" id="tag" rows="15" cols="40">{{ ad.get('tag', '') }}</textarea>
				<br /><a href="#" id="preview-link">Preview</a>
			</td>
		</tr>
		{% if ad.get('_id', None) %}
		<tr>
			<td><a onclick="return confirm('Are you sure you want to Delete?')" href="/admin/delete/{{ str(ad.get('_id')) }}">Delete</a></td>
		</tr>
		{% end %}
		<tr>
			<td><input type="submit" value="Save" /></td>
		</tr>
</form>

<script type="text/javascript">
$(document).ready(function(){
	$("#export-dialog").dialog({
		'autoOpen': false,
		'modal': true,
		'height': 350,
		'width': 500
	});

	$("#export-link").click(function(e) {
		e.preventDefault();
		$("#export-dialog").dialog('open');
	});

	$("#preview-dialog").dialog({
		'autoOpen': false,
		'modal': true
	});

	$("#preview-link").click(function(e) {
		e.preventDefault();
		var size = $("#size").val().split('x');
		$("#preview-dialog").dialog('option', 'height', size[1] * 1.0 + 16).dialog('option', 'width', size[0] * 1.0 + 34);
		$("#preview-dialog").html($("#tag").val()).dialog('open');
	});
});
</script>

{% if ad.get('_id', None) %}
<div id="export-dialog" title="Export" class="hide">
	<p>
		<strong>URL:</strong><br />
		<input type="text" size="40" value="http://{{ request.host }}/iframe?size={{ ad.get('size') }}&amp;marker={{ str(ad.get('_id')) }}" />
	</p>
	<p>
		<strong>Iframe:</strong><br />
		<textarea rows="5" cols="40">
			<IFRAME FRAMEBORDER=0 MARGINWIDTH=0 MARGINHEIGHT=0 SCROLLING=NO WIDTH={{ ad.get('size', '0x0').split('x')[0] }} HEIGHT={{ ad.get('size', '0x0').split('x')[1] }} SRC="http://{{ request.host }}/iframe?size={{ ad.get('size') }}&amp;marker={{ str(ad.get('_id')) }}"></IFRAME>
		</textarea>
	</p>
</div>
{% end %}
<div id="preview-dialog" title="Preview" class="hide"></div>
{% end %}
